@font-face {
  font-family: 'gt_haptik';
  src: url('../fonts/gt-haptik-bold-webfont.eot');
  src: url('../fonts/gt-haptik-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-haptik-bold-webfont.woff2') format('woff2'),
       url('../fonts/gt-haptik-bold-webfont.woff') format('woff'),
       url('../fonts/gt-haptik-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gt_haptik';
  src: url('../fonts/gt-haptik-regular-webfont.eot');
  src: url('../fonts/gt-haptik-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-haptik-regular-webfont.woff2') format('woff2'),
       url('../fonts/gt-haptik-regular-webfont.woff') format('woff'),
       url('../fonts/gt-haptik-regular-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gt_haptik_rotalic';
  src: url('../fonts/gt-haptik-bold-rotalic.eot');
  src: url('../fonts/gt-haptik-bold-rotalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-haptik-bold-rotalic.woff') format('woff'),
       url('../fonts/gt-haptik-bold-rotalic.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'tiempos';
  src: url('../fonts/TiemposTextWeb-Regular.eot');
  src: url('../fonts/TiemposTextWeb-Regular.otf'),
       url('../fonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'tiempos';
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot');
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'tiempos';
  src: url('../fonts/TiemposTextWeb-Semibold.eot');
  src: url('../fonts/TiemposTextWeb-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-Semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tiempos';
  src: url('../fonts/TiemposTextWeb-SemiboldItalic.eot');
  src: url('../fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-SemiboldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  font-family: 'gt_haptik', Helvetica, Arial;
}

.masthead .nav a {
  color: black;
  text-decoration: underline;
}
.masthead .nav a.home {
  color: #999;
  text-decoration: none;
}

.nav a.active, .footerNav a.active {
  font-weight: bolder;
}

#nav-header {
  text-align: center;
}

#logo {
  padding: 0px;
  margin: 40px 0 20px;
  display: inline-block;}

#banner {
  width: 100%;
  background-color: #f0f0f0;
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
  border-bottom: 4px solid #D8262C; /* dd4a22, d22000, b04420 */
}

#banner .broadcast {
  text-align: center;
  color: #000;
  font-weight: bolder;
}

#banner .broadcast a {
  text-decoration: underline;
}

#createSecret {
  text-align: left;
}

#createSecret textarea, #createSecret input {
  background-color: transparent;
  padding: 6px;
  -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-custom {
  -webkit-font-smoothing: antialiased;
  background-color: #D8262C !important;
  background-repeat: repeat-x;
  background-image: none;
  color: #FFFFFF !important;
  border-radius: 0;
  border: 0;
  text-shadow: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.btn-custom:hover {
  background-color: #BD0101 !important;
  text-shadow: none;
}

.btn-hollow {
  -webkit-font-smoothing: antialiased;
  background-color: transparent !important;
  background-repeat: repeat-x;
  background-image: none;
  color: #353535 !important;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.2);
  text-shadow: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-hollow:hover {
  background-color: #fafafa !important;
  text-shadow: none;
}

.btn-hollow[disabled] {
  opacity: 0.3;
}

#footer {

  text-align: center;
  font-size: 80%;
  line-height: 80%;
  padding: 0px;
  color: #999;
}

#footer a {
  color: #000;
}

#footer p {
  margin: 0px;
  padding: 4px;
}

#footer .intro {
  color: #000; float: left; padding-left: 8px; font-style: italic;
}


#info a {
  text-decoration: underline;
}

hr.clear {background:#fff;color:#fff;clear:both;float:none;width:100%;height:.1em;border:none;margin:4px;}

.tagline { width: 100%; text-align: center; font-style: italic; color: #999; margin-top: 20px; }

.lighter { color: #999; }

.release {text-decoration: none; color: #dddddd; }




a {
  color: #000;
}

a.keepgoing {
  font-size: 120%;
  font-weight: bolder;
  padding: 10px;
}

.private .hint {
  font-style: italic;
  color: #999;
  font-size: 16px;
  text-align: center;
}

#faq {
  margin-top: 60px;
  color: #444;
}

.nav li.primary {line-height: 26px; font-size: 20px;}
.nav li.secondary {font-size:16px; line-height: 16px}
.nav li.alt {font-size:24px; line-height: 24px}

.inputform li.primary {line-height: 26px; font-size: 20px;}
.inputform li.secondary {font-size:16px; line-height: 16px}
.inputform li.alt {font-size:24px; line-height: 24px}

.inputform li {list-style-type: none;}

.nav li.or {
  color: #999;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
.nav em { font-style: normal; text-decoration: underline; }


div.private{font-size: 18px; line-height: 18px; margin-top: 20px;}
.shared{ margin-top: 20px;}
#generate .secret input {
  width: 620px;
  height: 38px;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  margin: 6px 0px 6px 0px;
  border: 0;
  color: #666;
}
.private .secret input,
.private .secret textarea {
  background-color: #eee;
  color: #666;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.private .secret textarea[readonly] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.private .secret input[disabled] { background-color: #eee; color: #fff;}
.shared .secret input,
.shared .secret textarea {
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  padding: 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.uri input {width: 620px; height: 38px; font-size: 16px; line-height: 16px; padding: 6px; border: 0px; background-color: #eee;}
.uri input.private {background-color: #eee;}
.uri p {padding: 6px; font-size: 80%; margin: 0px; color: #999;}
.passphrase { margin-bottom: 30px; }
.passphrase input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border: 0px;
  background-color: transparent;
  color: #000;
  border: 1px solid #ccc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
}

.secret {margin-bottom: 20px}
.uri{margin-bottom: 10px}
.pretext {
  line-height: 24px;
  font-size: 24px;
}
.passphrase . text {
  line-height: 18px;
  font-size: 18px;
}


#brandedlogo {
  height: 80px;
  width: 600px;
  margin: 10px 0px;
  background: #ffffff;
  background-repeat: no-repeat;
}

.dotted{border-top:1px dotted #666;}
.nounderline {
  text-decoration: none !important;
}
.underline {
  text-decoration: underline;
}
.strikethrough {
  text-decoration: line-through;
}
.smaller { font-size: 85%; }
.larger { font-size: 120%; }
.centre { text-align: center }
.italic { font-style: italic }
.socialicon {
  padding-right: 8px;
}

.hilite {background:#ff0;}
.hilite2 {background:#6ff;}


.err, .msg { font-weight: bold; padding: 8px; line-height: 32px; width: 100%; }
.err { background-color: #D8262C; color: #fff }
.msg { background-color: #ff0; }
.warning-text { color: #D8262C;}


.lightest {
  color: #ccc;
}


.text-input {
  padding-bottom: 6px;
}
.chars-display {
  position: relative; display: block; float: right; margin-top: -24px; margin-right: 24px;
}

.address { margin-left: 150px; font-size: 24px; line-height: 24px; }


#primaryTabs {
  background: transparent;
  border: none;
  font-family: georgia;
}
#primaryTabs .ui-widget-header {
  background: transparent;
  border: none;
  border-bottom: 1px solid #c0c0c0;
}
#primaryTabs .ui-state-default {
  background: transparent;
  border: none;
}
#primaryTabs .ui-state-active {
  background: transparent url(/img/uiTabsArrow.png) no-repeat bottom center;
  border: none;
}
#primaryTabs .ui-state-default a {
  color: #000;
}

#primaryTabs .ui-state-active a {
  color: #999;
}

.options-box {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
    -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.options-box .title {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: normal;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.alert a {
  text-decoration: underline;
}
