{{>header}}

  <div class="private">

    {{#show_secret_link}}
    <div class="uri">
      <span class="pretext">{{i18n.page.pretext}}</span><br/>
      <input id="secreturi" class="selectable" value="{{share_uri}}" readonly="readonly" />
      {{#has_passphrase}}
      <p><strong>{{i18n.page.requires_passphrase}}</strong></p>
      {{/has_passphrase}}
    </div>
    {{/show_secret_link}}

    {{#show_metadata}}
    {{#recipients}}
    <h3>{{i18n.COMMON.sent_to}} {{to_s}}</h3>
    {{/recipients}}
    {{/show_metadata}}

    {{#show_secret}}
    <div class="secret">
      {{^can_decrypt}}
      <em>{{i18n.COMMON.secret}} ({{secret_shortkey}}):</em><br/>
      <input class="selectable" id="displayedsecret" value="{{i18n.page.this_msg_is_encrypted}}" />
      {{/can_decrypt}}
      {{#can_decrypt}}

      {{#truncated}}
      <div class="alert alert-info smaller">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{i18n.COMMON.warning}}</strong> {{i18n.page.secret_was_truncated}} {{secret_value.size.to_bytes}}.
        {{^authenticated}}<a href="/signup">{{i18n.COMMON.signup_for_more}}</a>{{/authenticated}}.
      </div>
      {{/truncated}}

      <em>{{i18n.COMMON.secret}} ({{secret_shortkey}}):</em> <span class="smaller lighter">({{i18n.page.only_see_once}})</span><br/>
      <textarea class="input-block-level" readonly="readonly" rows="{{display_lines}}">{{secret_value}}</textarea>

      {{/can_decrypt}}
    </div>
    {{/show_secret}}

    {{^show_secret}}
    <div class="secret">
      <span class="pretext">{{i18n.COMMON.secret}} ({{secret_shortkey}}):</span> <br/>
      <input value="*******************" disabled="disabled" />
    </div>
    {{/show_secret}}

    <p>
      {{#is_received}}
      <em>{{i18n.COMMON.received}} {{received_date}}.</em>
      <span class="smaller lighter">({{received_date_utc}})</span>
      {{/is_received}}

      {{#is_burned}}
      <em>{{i18n.COMMON.burned}} {{burned_date}}.</em>
      <span class="smaller lighter">({{burned_date_utc}})</span>
      {{/is_burned}}

      {{^is_destroyed}}
      <strong>{{i18n.COMMON.expires_in}} {{expiration_stamp}}</strong>.
      <span class="smaller lighter">({{created_date_utc}})</span>
      {{/is_destroyed}}
    </p>

    <hr/>
    {{^is_destroyed}}
    <a class="btn btn-block btn-large btn-hollow" href="{{burn_uri}}"><i class="icon-fire"></i> {{i18n.COMMON.burn_this_secret}}*</a>

    <hr/>
    <p class="hint">* {{i18n.COMMON.burn_this_secret_hint}}.</p>
    {{/is_destroyed}}

    <hr/>
    <p class=""><a class="btn btn-block btn-large btn-custom" href="/">Create another secret</a></p>

  </div>

{{>footer}}
